<div class="modal-dialog create-account-modal">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">Create Account</h4>
    </div>
    <div class="modal-body">
      <div class="container-fluid">
        <div class="row create-account-row">
          <input class="create-account-input" id="signup_username" placeholder="Username">
        </div>
        <div class="row create-account-row">
          <input class="create-account-input" id="signup_password" type="password" placeholder="Password">
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn nope" data-dismiss="modal" aria-hidden="true">Nope</a>
      <a href="#" class="btn submit btn-primary">Submit</a>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->