<% content_for :title do %>My super sweet dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="3" data-sizey="2">
      <div data-id="leaderboard" data-view="List" data-unordered="true" data-title="Leaderboard" data-moreinfo="Leaderboard"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="total_points" data-view="Number" data-title="Total Points" style="background-color:#ff9618;"></div>
    </li>

    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="total_attempts" data-view="Number" data-title="Total Attempts"  style="background-color:#9c4274;"></div>
    </li>
  </ul>
</div>
